<footer>
  <div class="footer">
    <div class="footer-links">
      <a target=_blank href="https://github.com/asfxgf"><i class="fab fa-github"></i></a>
      <a target=_blank href="https://www.instagram.com/quentintin1/"><i class="fab fa-instagram"></i></a>
      <a target=_blank href="https://www.facebook.com/quentin.deleglise"><i class="fab fa-facebook"></i></a>
      <a target=_blank href="https://medium.com/@quentindeleglise"><i class="fab fa-medium"></i></a>
      <a target=_blank href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <p>Fait avec <i class="fas fa-heart"></i> par Quentin DELEGLISE. Budget : 0€ <i class="fas fa-star"></i></p>
    </div>
    <div class="footer-mini-copyright">
      <p>Q. DELEGLISE. <i class="fas fa-heart"></i> Budget : 0€ <i class="fas fa-star"></i></p>
    </div>
    <div>
      <a id="vision" href="#top">
        <svg class="bi bi-arrow-up-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
        </svg>
      </a>
    </div>
  </div>
</footer>
