<ul id="all_slides">
  <li class="slide1 active">
    <div class="centered">
      <h1>Saveurs et millésimes</h1>
      <h2>A votre service depuis 1999.</h2>
      <br>
      <br>
      <a href="#propos" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
    </div>
    <div class="bottom-left infos-black superlink">
      <p><i class="fa fa-map-marker-alt" aria-hidden="true" style="color: red"></i> Adresse: <a href="https://www.google.fr/maps/place/94+Avenue+Henri+Ginoux,+92120+Montrouge/@48.851888,2.3131308,12.57z/data=!4m5!3m4!1s0x47e671006bad1a11:0x1c4336741e8d5bbc!8m2!3d48.8152294!4d2.3205149" target="_blank">94 Avenue Henri Ginoux, 92120 Montrouge</a></p>
      <p><i class="fas fa-phone-alt" style="color: red"></i> Telephone : <a href="tel: +33146739797" target="_blank">01 46 73 97 97</a></p>
      <p><i class="far fa-envelope" style="color: red"></i> Mail : <a href="mailto:exemple@exemple.fr" target="_blank">exemple@exemple.fr</a></p>
    </div>
  </li>
  <li class="slide1">
    <div class="centered">
      <h1>Saveurs et millésimes</h1>
      <h2>A votre service depuis 1999.</h2>
      <br>
      <br>
      <a href="#propos" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
    </div>
    <div class="bottom-left infos-white superlink">
      <p><i class="fa fa-map-marker-alt" aria-hidden="true" style="color: red"></i> Adresse: <a href="https://www.google.fr/maps/place/94+Avenue+Henri+Ginoux,+92120+Montrouge/@48.851888,2.3131308,12.57z/data=!4m5!3m4!1s0x47e671006bad1a11:0x1c4336741e8d5bbc!8m2!3d48.8152294!4d2.3205149" target="_blank">94 Avenue Henri Ginoux, 92120 Montrouge</a></p>
      <p><i class="fas fa-phone-alt" style="color: red"></i> Telephone : <a href="tel: +33146739797" target="_blank">01 46 73 97 97</a></p>
      <p><i class="far fa-envelope" style="color: red"></i> Mail : <a href="mailto:exemple@exemple.fr" target="_blank">exemple@exemple.fr</a></p>
    </div>
  </li>
  <li class="slide1">
    <div class="centered">
      <h1>Saveurs et millésimes</h1>
      <h2>A votre service depuis 1999.</h2>
      <br>
      <br>
      <a href="#propos" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
    </div>
    <div class="bottom-left infos-white superlink">
      <p><i class="fa fa-map-marker-alt" aria-hidden="true" style="color: red"></i> Adresse: <a href="https://www.google.fr/maps/place/94+Avenue+Henri+Ginoux,+92120+Montrouge/@48.851888,2.3131308,12.57z/data=!4m5!3m4!1s0x47e671006bad1a11:0x1c4336741e8d5bbc!8m2!3d48.8152294!4d2.3205149" target="_blank">94 Avenue Henri Ginoux, 92120 Montrouge</a></p>
      <p><i class="fas fa-phone-alt" style="color: red"></i> Telephone : <a href="tel: +33146739797" target="_blank">01 46 73 97 97</a></p>
      <p><i class="far fa-envelope" style="color: red"></i> Mail : <a href="mailto:exemple@exemple.fr" target="_blank">exemple@exemple.fr</a></p>
    </div>
  </li>
</ul>
<a href="#propos" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
<div class="container">
  <h2 id="propos">A propos :</h2>
  <div class="text-center">
    <img class="avatar-big" alt="" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
  <!-- Changer les phrases copywriting -->

  <h4><i>"Phrase sympa de Thierry (camaraderie savoir-faire,passion, professionalisme)"</i></h4>
  <br>
  <p><strong>Depuis 25 ans</strong>, je m'efforce de vous offrir ce qu'il y a de mieux. Mes bouteilles sont <strong>rigoureusement sélectionnées</strong> en fonction de leur <strong>qualité et prix</strong> pour obtenir <strong><u>LA</u></strong> solution qu'il vous faut.</p>
  <p>Que vous soyez un particulier, un restaurateur ou un traiteur, je m'engage à ..... à développer  </p>
  <div class="text-center">
    <h2>La boutique en 3 mots:</h2>
    <!-- Liste de card-category -->
    <div class="cards">
      <!-- Button trigger modal -->
      <a type="button" data-toggle="modal" data-target="#exampleModalCenter1">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594128015/Saveurs%20et%20mill%C3%A9simes/pngwing.com_mlf8zq.png)">
          <h5>+ x bouteilles vendues.</h5>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">+ de x bouteilles vendues</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Et à chaque bouteille, l'envie de vous faire plaisir.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
       <!--Fin modal-->
      <a type="button" data-toggle="modal" data-target="#exampleModalCenter2">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594128912/Saveurs%20et%20mill%C3%A9simes/wine-barrels-in-wooden-structure_ic3gxu.jpg)">
        <h5>+ 500 références.</h5>
      </div>
  <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">+ de 500 références</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Venez découvrir notre large gamme de vins champagne et spiritueux triés sur le volet aux quatre coins de la france.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
       <!--Fin modal-->
      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">+ de 500 références</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Découvrez nos vins, spiritueux et champagnes triés sur le volet.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
       <a type="button" data-toggle="modal" data-target="#exampleModalCenter3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594129191/Saveurs%20et%20mill%C3%A9simes/filling-wine-glasses-on-counter_uauk79.jpg)">
        <h5>+ 20 ans d'expérience.</h5>
      </div>
              <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">+ de 20 ans d'expérience.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Venez profiter de notre savoir faire.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
      <a type="button" data-toggle="modal" data-target="#exampleModalCenter4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594129434/Saveurs%20et%20mill%C3%A9simes/popping-open-champagne_blhdef.jpg)">
        <h5>Des exclusivités.</h5>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Des exclusivités toutes les semaines.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Toutes les semaines, nous récupérons de nouvelles références triées sur le volet, aux quatre coins de la France.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
       <!--Fin modal-->
      <a type="button" data-toggle="modal" data-target="#exampleModalCenter5">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594129845/Saveurs%20et%20mill%C3%A9simes/pricing_i152tg.jpg)">
        <h5>Des prix avantageux.</h5>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Des prix avantageux</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Nous négocions des prix d'achats intéressants pour vous garantir les meilleurs prix à la vente.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
       <!--Fin modal-->
      <a type="button" data-toggle="modal" data-target="#exampleModalCenter6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594130356/Saveurs%20et%20mill%C3%A9simes/his-favorite-store_ocweut.jpg)">
        <h5>Un service personnalisé.</h5>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Un service personnalisé.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Nous sommes à l'écoute de vos besoins pour vous proposer la meilleure des prestations.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-flat">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       </a>
       <!--Fin modal-->
    </div>
  </div>
  <h2 id="services">Nos services :</h2>
  <div class="text-center">
    <img class="avatar-big" alt="store" src="https://res.cloudinary.com/asfxgf/image/upload/v1594134661/Saveurs%20et%20mill%C3%A9simes/store_icon-icons.com_54371_t3t8xl.svg"/>
  <h4><strong>Magasin:</strong></h4>
  <p>Notre magasin vous accueille <strong>du mardi au dimanche (6j/7) de 9h45 à 13h et de 14h30 à 19h30.</strong></p>
    <img class="avatar-big" alt="livraison" src="https://res.cloudinary.com/asfxgf/image/upload/v1594134813/Saveurs%20et%20mill%C3%A9simes/613deliverytruck_100957_kpdpjp.svg"/>
    <h4><strong>Livraison:</strong></h4>
    <p>Je vous <strong>livre personnellement</strong> sur <strong>toute la région parisienne</strong>.</p>
  <img class="avatar-big" alt="cadeau" src="https://res.cloudinary.com/asfxgf/image/upload/v1594134736/Saveurs%20et%20mill%C3%A9simes/giftbox_106607_d5ghi3.svg"/>
  <h4><strong>Cadeaux d'affaires:</strong></h4>
  <p>Nous vous préparons des coffrets pour offrir <strong>à la demande et sur-mesure.</strong></p>
  <br>
  <h3>Particuliers, restaurateurs, traiteurs ...</h3>
  <h3>Choisissez ce qu'il y a de mieux pour  vous et vos clients!</h3>
  </div>
  <h2 id="produits">Nos produits :</h2>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594135971/Saveurs%20et%20mill%C3%A9simes/winebanner_atfale.jpg)">Nos vins
  </div>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594136315/Saveurs%20et%20mill%C3%A9simes/Xmas-Whisky-Banner_i4ezlt.jpg)">Nos spiritueux
  </div>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594136527/Saveurs%20et%20mill%C3%A9simes/champagne-banner_bkqpdy.jpg)">Nos champagnes
  </div>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594136845/Saveurs%20et%20mill%C3%A9simes/coffretbanner_nyu43m.jpg)">Nos coffrets
  </div>
  <br>
  <h2 id="avis">Ils nous font confiance :</h2>
</div>


<!-- Carousel bootstrap -->
<div class="container text-center">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1000" data-pause="false">
    <div class="carousel-inner" style=" width: 100%; height: 400px !important;">
      <!-- Avis 1 -->
      <div class="carousel-item active">
        <img class="avatar-large" alt="avatar-anne" src="https://res.cloudinary.com/asfxgf/image/upload/v1594254026/Saveurs%20et%20mill%C3%A9simes/photo_kyk9h9.png" />
        <h4><strong>Anne Carré</strong></h4>
                  <p><i>"C'est LE caviste de Montrouge, celui chez qui on vient comme pour aller voir un ami - celui qui vous propose de bons vins même si vous ne roulez pas sur l'or... Pour de grandes occasions ou juste pour un petit vin pas cher...</i>
          </p>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
      </div>
      <!-- Avis 2-->
      <div class="carousel-item">
        <img class="avatar-large" alt="avatar-raphael" src="https://res.cloudinary.com/asfxgf/image/upload/v1594254103/Saveurs%20et%20mill%C3%A9simes/photo_1_ldsyuz.png"/>
        <h4><strong>Raphael LEMARCHAND</strong></h4>
                  <p><i>"Super caviste où l'on trouve de très bon vin, il est de très bon conseil et très accueillant. Je suis client depuis plusieurs années et de l'amitié s'est créé."</i>
          </p>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
      </div>
      <!-- Avis 3 -->
      <div class="carousel-item">
        <img class="avatar-large" alt="avatarcaroetjulien" src="https://res.cloudinary.com/asfxgf/image/upload/v1594254175/Saveurs%20et%20mill%C3%A9simes/photo_2_n3whtf.png"/>
        <h4><strong>Caro et Julien</strong></h4>
        <p><i>"Professionnel, expérimenté, accueillant, de très très bon conseil, Thierry sait toujours trouver le vin que vous cherchez quelques soient vos goûts, votre repas, votre budget,... Et en plus il est super sympathique. Caro et Julien"</i>
        </p>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
          <i class="fas fa-star" style="color: green"></i>
      </div>
    </div>
    <br>
    <a class="btn btn-flat" target="blank" href="https://www.google.com/search?sxsrf=ALeKk01UkGuP6yEJ8w_Y82aSnoh1eIqjfw%3A1594121508644&ei=JF0EX4HtJsnQaKnXo5gL&q=saveur+et+millesimes+&oq=saveur+et+millesimes+&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIIxCwAxAnULglWLglYNQmaAFwAHgAgAEwiAEwkgEBMZgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwiBj4GyhbvqAhVJKBoKHanrCLMQ4dUDCAw&uact=5#lrd=0x47e67100685227b1:0xcfba60bb3015c9c2,1,,,"><strong>Voir tous les avis</strong></a>
  </div>

  <h2 id="contact_nav">Contact :</h2>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><i class="fa fa-map-marker-alt" aria-hidden="true" style="color: red"></i> Adresse: <a href="https://www.google.fr/maps/place/94+Avenue+Henri+Ginoux,+92120+Montrouge/@48.851888,2.3131308,12.57z/data=!4m5!3m4!1s0x47e671006bad1a11:0x1c4336741e8d5bbc!8m2!3d48.8152294!4d2.3205149" target="_blank">94 Avenue Henri Ginoux (92)</a></p>
    </div>
    <div class="col-sm-12 text-center">
      <p><i class="fas fa-phone-alt" style="color: red"></i> Telephone : <a href="tel: +33146739797" target="_blank">01 46 73 97 97</a></p>
    </div>
    <div class="col-sm-12 text-center">
      <p><i class="fas fa-fax" style="color: red"></i> Fax : <a href="fax:#">exemple@exemple.fr</a></p>
    </div>
    <div class="col-sm-12 text-center">
      <p><i class="far fa-envelope" style="color: red"></i> Mail : <a href="mailto:exemple@exemple.fr" target="_blank">exemple@exemple.fr</a></p>
    </div>
  </div>
  <br>
   <h4>Si nous sommes injoignables, écrivez votre message ici ! Nous reviendrons vers vous rapidement.</h4>
   <br>
  <div id="contact">
    <%= render 'contact_form' %>
  </div>
</div>
