<h1>Accueil</h1>
<h1>Saveurs et millésimes</h1>
<h2>A votre service depuis 1999.</h2>
<h3>Vente : Typed.js (Vin / Spiritueux / Champagne)</h3>
<p>adresse :</p>
<p>tel :</p>
<p>mail :</p>


<h2>A propos</h2>
<img src="#" alt="Image de thierry">
