<ul id="all_slides">
  <li class="slide active">
    <div class="centered">
      <h1>Saveurs et millésimes</h1>
      <h2>A votre service depuis 1999.</h2>
    </div>
  </li>
  <li class="slide">
    <div class="centered">
      <h1>Saveurs et millésimes</h1>
      <h2>A votre service depuis 1999.</h2>
    </div>
  </li>
  <li class="slide">
    <div class="centered">
      <h1>Saveurs et millésimes</h1>
      <h2>A votre service depuis 1999.</h2>
    </div>
  </li>
  <div class="buttons">
  <button class="controls" id="previous"><i class="far fa-arrow-alt-circle-left"></i></button>
  <button class="controls" id="pause"><i class="far fa-pause-circle"></i></button>
  <button class="controls" id="next"><i class="far fa-arrow-alt-circle-right"></i></button>
</div>
</ul>
<div class="container">
  <h1>Saveurs et millésimes</h1>
  <h2>A votre service depuis 1999.</h2>
  <h3>Vente et livraison: Typed.js (Vin / Spiritueux / Champagne)</h3>
  <p>adresse :</p>
  <p>tel :</p>
  <p>mail :</p>


  <h2>A propos :</h2>
  <div class="text-center">
    <img class="avatar-big" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
  <h4><i>"Phrase sympa de Thierry (camaraderie savoir-faire et passion)"</i></h4>
  <p>Thierry, <strong>25 ans d’expérience</strong> vous déniche <strong>les meilleures affaires</strong>.
  Il vous acueille dans sa cave de plus de 500 références.
  Toujours à votre écoute pour trouver <strong><u>LA</u> bouteille faite pour vous</strong>.</p>
  <div class="text-center">
    <h2>La boutique en 3 mots:</h2>

    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594128015/Saveurs%20et%20mill%C3%A9simes/pngwing.com_mlf8zq.png)"><h5>+ x bouteilles vendues.</h5>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594128912/Saveurs%20et%20mill%C3%A9simes/wine-barrels-in-wooden-structure_ic3gxu.jpg)"><h5>+ 500 références.</h5>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594129191/Saveurs%20et%20mill%C3%A9simes/filling-wine-glasses-on-counter_uauk79.jpg)"><h5>+ 20 ans d'expérience.</h5>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594129434/Saveurs%20et%20mill%C3%A9simes/popping-open-champagne_blhdef.jpg)"><h5>Des exclusivités.</h5>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594129845/Saveurs%20et%20mill%C3%A9simes/pricing_i152tg.jpg)"><h5>Des prix avantageux.</h5>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/asfxgf/image/upload/v1594130356/Saveurs%20et%20mill%C3%A9simes/his-favorite-store_ocweut.jpg)"><h5>Un service personnalisé.</h5>
      </div>
    </div>
  </div>
  <h2>Nos services :</h2>
    <img class="avatar-large" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <h4>Livraison</h4>
    <p>Je vous livre personnellement sur toute la région parisienne à partir de x€</p>
    <img class="avatar-large" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <h4>Magasin</h4>
  <p>Notre magasin vous accueille du mardi au samedi de 10h30 à 13h et de 14h30 à 19h.</p>
    <img class="avatar-large" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <h4>Cadeaux d'affaires</h4>
  <p>Nous vous préparons des coffrets pour offrir à la demande.</p>
  <p>Particuliers, restaurateurs, traiteurs ...</p>
  <p>Choisissez ce qu'il y a de mieux pour  vous !</p>

  <h2>Nos produits :</h2>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">Nos vins
    </div>
    <br>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">Nos spiritueux
    </div>
    <br>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">Nos champagnes
    </div>
    <br>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">Nos coffrets
    </div>
  <h2>Ils nous font confiance :</h2>


<div class="avis text-center">
  <div class="avis-avatar">
    <img class="avatar-large" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
  <div class="avis-name">
    <h4><strong>Anne Carré</strong></h4>
  </div>
  <div class="avis-text">
    <p><i>"C'est LE caviste de Montrouge, celui chez qui on vient comme pour aller voir un ami - celui qui vous propose de bons vins même si vous ne roulez pas sur l'or... Pour de grandes occasions ou juste pour un petit vin pas cher du tout mais qui tient la route, il est là, attentif et l'oeil  ( bleu) pétillant - dans le partage, toujours: amour du vin et amour des gens..... un duo essentiel.

Partie en Touraine, je cherche toujours celui qui sera "mon" caviste.
Pour l'instant, de coeur au moins, il est et reste toujours à Montrouge."</i></p>
  </div>
  <div class="avis-rating">
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
  </div>


<div class="avis text-center">
  <div class="avis-avatar">
    <img class="avatar-large" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
  <div class="avis-name">
    <h4><strong>Raphael LEMARCHAND</strong></h4>
  </div>
  <div class="avis-text">
    <p><i>"Super caviste où l'on trouve de très bon vin, il est de très bon conseil et très accueillant.je suis client depuis plusieurs années et de l'amitié s,est créé."</i></p>
  </div>
  <div class="avis-rating">
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
  </div>

<div class="avis text-center">
  <div class="avis-avatar">
    <img class="avatar-large" alt="livraison" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
  <div class="avis-name">
    <h4><strong>Caro et Julien</strong></h4>
  </div>
  <div class="avis-text">
    <p><i>"Professionnel, expérimenté, accueillant, de très très bon conseil, Thierry sait toujours trouver le vin que vous cherchez quelques soient vos goûts, votre repas, votre budget,... Et en plus il est super sympathique. Caro et Julien"</i></p>
  </div>
  <div class="avis-rating">
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
    <i class="fas fa-star" style="color: green"></i>
  </div>
</div>
<br>
<a class="btn btn-flat" target="blank" href="https://www.google.com/search?sxsrf=ALeKk01UkGuP6yEJ8w_Y82aSnoh1eIqjfw%3A1594121508644&ei=JF0EX4HtJsnQaKnXo5gL&q=saveur+et+millesimes+&oq=saveur+et+millesimes+&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIIxCwAxAnULglWLglYNQmaAFwAHgAgAEwiAEwkgEBMZgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwiBj4GyhbvqAhVJKBoKHanrCLMQ4dUDCAw&uact=5#lrd=0x47e67100685227b1:0xcfba60bb3015c9c2,1,,,">Voir les avis google</a>




</div>
