<h1>Accueil</h1>
<h1>Saveurs et millésimes</h1>
<h2>A votre service depuis 1999.</h2>
<h3>Vente : Typed.js (Vin / Spiritueux / Champagne)</h3>
<p>adresse :</p>
<p>tel :</p>
<p>mail :</p>


<h2>A propos</h2>
<img src="#" alt="Image de thierry">
<h4>Phrase sympa de thierry</h4>
<p>Thierry, <strong>25 ans d’expérience</strong> vous déniche <strong>les meilleures affaires</strong>.
Il vous acueille dans sa cave de plus de 500 références.
Toujours à votre écoute pour trouver <strong><u>LA</u> bouteille faite pour vous</strong>.</p>

<p>nombre de bouteilles vendues</p>
<p>+ 500 références</p>
<p>Les bons plans du moment</p>


<h2>Nos services</h2>

<img src="#" alt="livraison">
<h4>Livraison</h4>
<p>Je vous livre personnellement sur toute la région parisienne à partir de x€</p>
<img src="#" alt="Magasin">
<h4>Magasin</h4>
<p>Notre magasin vous accueille du mardi au samedi de 10h30 à 13h et de 14h30 à 19h.</p>
<img src="#" alt="Cadeaux d'affaires">
<h4>Cadeaux d'affaires</h4>
<p>Nous vous préparons des coffrets pour offrir à la demande.</p>
<p>Particuliers, restaurateurs, traiteurs ...</p>
<p>Choisissez ce qu'il y a de mieux pour  vous !</p>

<h2>Nos produits</h2>

<ul>
  <li>
    <img src="#" alt="">
    <p></p>
  </li>
  <li>
    <img src="#" alt="">
    <p></p>
  </li>
  <li>
    <img src="#" alt="">
    <p></p>
  </li>
  <li>
    <img src="#" alt="">
    <p></p>
  </li>
</ul>

<h2>Ils nous font confiance</h2>

<p>Carroussel</p>
