.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.footer .fa-star {
  color: #f5c10d;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer-copyright {
    display: none;
  }
  .footer-mini-copyright {
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer-copyright {

  }
  .footer-mini-copyright {
    display : none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer-copyright {

  }
  .footer-mini-copyright {
    display : none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer-copyright {

  }
  .footer-mini-copyright {
    display : none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .footer-copyright {

  }
  .footer-mini-copyright {
    display : none;
  }
}
