.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

//.navbar-lewagon .navbar-brand img {
//  width: 40px;
//}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-lewagon .navbar-brand img {
  width: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-lewagon .navbar-brand img {
  width: 40px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-lewagon .navbar-brand img {
  width: 40px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-lewagon .navbar-brand img {
  width: 40px;
  }
}
